* {
    font-family: system-ui;
}

body {
    background-color: rgb(255, 255, 255);
    margin:0%;
    color: #121212;
}

.header{
    border-bottom: 2px solid rgb(123, 121, 121);
    padding: 0px;
    margin: 0px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 10px;
    color: #121212;
    display: flex;
}

.logo{
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 60px;
    width: 60px;
}


header li{
    color: #121212;
    list-style-type: none;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    float: left;
}

header a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

header a:hover{
    color: rgb(0, 0, 0);
    border-bottom: 2px solid #494949;
}

.container{
    color: #121212;
    text-align: center;
    font-size: larger;
}

header ul{
    display: inline;
    float: right;
}

#ul-2{
    margin-left: 1000px;
}
.panier{
    width: 30px;
    height: 30px;
    margin-top: 10px;
}
